﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="cartao-specs.aspx.cs" Inherits="FERBOR_CartaoFidelidade.cartao_specs" %>

<!DOCTYPE html>

<html>
 <head>
 	<meta charset="utf-8"/>
     <title></title>
 	<style>
 		body{
 			font-family: Arial, Helvetica, sans-serif;
 			font-size: 10pt;
 		}
 		p{
 			text-align: justify;
 			text-indent: 20px;
 		}
 		article h1{
 			font-size: 15pt;
 			color: #fff;
 			background-color: rgba(0,0,0,.3);
 			padding-left: 5px;
 			margin: 0px;
 		}
 		article h2{
 			font-size: 13pt;
 			color: #888;
 			margin: 0px;
 		}
 		article{
 			margin-bottom: 800px;
 		}
 	</style>
 </head>

	<body>
		<article id="chip">
			<header>
				<h1>Chip</h1>
				<h2>O melhor verificador de propriedade</h2>
			</header>
			<p>
				Todo cartão fidelidade vem com um chip, é por ele que será verificado de quem é a propriedade do cartão, ou seja, quem está
                pagando a compra com os pontos obtidos.
			</p>
		</article>
			
		<article id="loja">
			<header>
				<h1>Logo da Loja</h1>
				<h2>A personalização do cartão fidelidade FERBOR</h2>
			</header>
			<p>
				Em todo cartão FERBOR vai o logo da loja que adquiriu o nosso sitema. Isso é para a personalização e melhor fidelização dos
                clientes.
			</p>
		</article>

		<article id="seguranca">
			<header>
				<h1>Segurança</h1>
				<h2>Ninguém conseguirá ser malicioso</h2>
			</header>
			<p>
                O cartão vem com segurança própria das maiores empresas de cartão de crédito do mundo. Pessoas maliciosas não conseguirão
                invadir o sistema e fraudular a pontuação.
			</p>				
		</article>

		<article id="numero">
			<header>
				<h1>Número do Cartão</h1>
				<h2>Todo cartão fidelidade vem com um número único</h2>
			</header>
			<p>
				Todo cadastro de cliente receberá a opção de colocar o número do cartão. Sempre que o cliente efetuar uma compra, o seu cartão
                já receberá os pontos correspondentes, automaticamente. O sistema também disponibiliza a opção de colocar pontos manualmente.
			</p>
		</article>

        <article id="validade">
			<header>
				<h1>Validade</h1>
				<h2>Assim como todo cartão de crédito, o FERBOR também tem vencimento</h2>
			</header>
			<p>
				Para sempre conseguir oferecer um serviço de qualidade, o cartão fidelidade FERBOR sobre incrementações frequentemente. Por isso,
                o cartão tem prazo de validade para que possa ser troca por um mais moderno, eficiente e com mais funcionalidades.
			</p>
		</article>

        <article id="nome">
			<header>
				<h1>Nome</h1>
				<h2>A personalização para provar que cada cliente é único</h2>
			</header>
			<p>
				Todo cliente é único e deve ser valorizado como tal. Dessa forma, todo cartão fidelidade FERBOR pernaliza o cartão com o nome do
                cliente na frente.
			</p>
		</article>

        <article id="logo">
			<header>
				<h1>FERBOR</h1>
				<h2>A prova de qualidade do cartão de crédito</h2>
			</header>
			<p>
				É a prova que o cartão fidelidade tem qualidade. Além disso, posteriormente também integraremos o sistema em todos os clientes,
                permitindo que os pontos obtidos em uma loja possam ser utilizados em outra que aceite FERBOR.
			</p>
		</article>
 	</body>
</html>
