﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Tahoma, Helvetica, sans-serif;
	background-color: #FFF;
	color: #000000;
	width: auto;
    height: 100%;
}

hgroup {
    text-align: center;
    color: #FFF;
}

#container {
    min-height: 100%;
    position: relative;
}

/* INÍCIO CABEÇALHO */

#cabecalho {
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 50px;
    border-bottom: 1px solid #808080;
    background-color: #0026ff;
}

#navegacao {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fffa09;
    border-bottom: 1px solid #0026ff;
    z-index: 100;
}

    #navegacao ul {
        list-style: none;
        text-align: center;
    }

        #navegacao a {
            font-weight: bold;
            color: #0026ff;
        }

            #navegacao a:hover {
                color: #FFF;
                transition: 0.1s;
            }

                #navegacao li {
                    display: inline-block;
                    padding: 15px;
                    cursor: pointer;
                    margin-right: -5px;
                }
                    #navegacao li:hover {
                        background-color: #0026ff;
                        transition: 1s;
                    }

/* FIM CABEÇALHO */

/* INÍCIO RODAPÉ */

#rodape {
    border-top: 1px solid #808080;
    background-color: #fffa09;
    clear: both;
    position: relative;
    top: 950px;
    width: 100%;
}

    #rodape p {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

/* FIM RODAPÉ */

/* INÍCIO HOME */
#index img {
    margin-top: 90px;
    margin-left: 5%;
}
#menu {
	width: 86%;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden; 
	list-style: none;
}
	#index #menu li{
		float: left;
		width: 280px;
		height: 280px;
        margin: 2px;
		border: solid 3px #fff;
		background-color: #fff;
		box-shadow: 1px 1px 1px rgba(0,0,0,.4);
        cursor: pointer;
	}
	#index #menu li span{
		color: #fff;
		background-color: rgba(0,0,0,.3);
		text-shadow: 1px 1px 1px #000;
		font-size: 12pt;
		line-height: 120px;
		padding: 5px;
	}
	#index #menu li:hover{
		transform: scale(1.2);
		transition: all .3s ease-in;
	}
	#index #menu li#foto1{
		background: url("../_imagens/logo2.png");
		background-position: 50% 50%;
		background-color: #fff;
        background-size: 280px 280px;
    }
	#index #menu li#foto2{
		background: url("../_imagens/cartoes.png");
		background-position: 50% 50%;
		background-size: 280px 280px;
		background-color: #fff;
	}
	#index #menu li#foto3{
		background: url("../_imagens/cadastro.png");
		background-position: 50% 50%;
		background-size: 280px 280px;
		background-color: #fff;
	}
	#index #menu li#foto4{
		background: url("../_imagens/specs.png");
		background-position: 50% 50%;
		background-size: 280px 280px;
		background-color: #fff;
	}
/* FIM HOME */

/* INÍCIO CADASTRO */
#breadcrumb {
    position: relative;
    top: 85px;
    right: 295px;
}

    #breadcrumb h5 {
        color: #0026ff;        
    }

        #breadcrumb a {
            color: #0026ff;
        }

#corpo {
    width: 50%;
    margin-top: -30px;
    margin-left: 320px;
    padding-bottom: 10px;
    position: relative;
    top: 129px;
    border: 1px solid #000000;
    border-radius: 3px;
}

    #corpo h4 {
        color: #000000;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    #corpo input[type=text] {
        border-radius: 5px;
        border: 1px solid #000;
        padding: 4px;
        font-size: 0.9em;
        width: 50%;
        margin-bottom: 10px;
    }

#user {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 70%;
    margin-left: 90px;
}

    #user #cpf {
        margin-left: 9px;
    }

#sexo {
    border-radius: 4px;
    padding: 10px;
    width: 25%;
    margin-left: 160px;
    margin-bottom: 15px;
}

#address {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 70%;
    margin-left: 90px;
}

    #address .campoCEP {
        width: 20% !important;
        font-size: 0.7em !important;
        height: 15px;
    }

        #address .campoLog {
            width: 50% !important;
        }

            #address #log {
                display: inline;
            }

                #address #nro {
                    display: inline;
                }

                    #address input[type=number] {
                        border-radius: 5px;
                        border: 1px solid #000;
                        padding: 4px;
                        font-size: 0.9em;
                        width: 15%;
                        margin-bottom: 10px;
                    }

                        #address select {
                            border-radius: 5px;
                            border: 1px solid #000;
                            padding: 4px;
                            font-size: 0.9em;
                            width: 40%;
                            margin-bottom: 10px;
                        }

#pedido {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 70%;
    margin-left: 90px;
}

    #pedido input[type=number] {
        border-radius: 5px;
        border: 1px solid #000;
        padding: 4px;
        font-size: 0.9em;
        width: 15%;
        margin-top: 10px;
    }

        #pedido .campoTotal {
            width: 20% !important;
            font-size: 0.9em !important;
            height: 15px;
            margin-top: 10px;
        }

.botao-enviar {
    width: 20%;
    font-size: 1em;
    height: 30px;
    margin-top: 10px;
    margin-left: 280px;
    cursor: pointer;
}

.editar-excluir {
    font-size: 0.7em;
    text-align: right;
    margin-right: 10px;
}
/* FIM CADASTRO */

/* INÍCIO QUEM SOMOS */
#descricao {
    position: relative;
    width: 48%;
    margin-top: 6%;
    font-family: 'Roboto', sans-serif;
}
    #descricao hgroup h2 {
        color: #000;
        padding: 5px 0px 5px 10px;
    }
    #descricao hgroup h2:hover {
        color: #fff;
        background-color: #000;
        transition: 1s;
    }
    #descricao hgroup h5 {
        text-align: left;
        padding-left: 20px;
        color: #0026ff;
    }
    #descricao p {
        text-align: center;
        margin-left: 2%;
    }
    
    #descricao h1 {
        margin-top: 30px;
        text-align: center;
        padding: 5px 0px 5px 10px;
	    margin: 10px 0px 10px 0px;
        background-color: #000;
        color: #fff;
    }
    #descricao figure {
        margin-left: 35%;
    }
    #descricao figure img {
        position: relative;
        margin-top: 20px;
        width: 300px;
        height: 200px;
        background-position: 50% 50%;
    }
    #descricao figure figcaption {
        font-size: 9pt;
        text-indent: 20px;
        margin-left: 10%;
    }

#lateral {
    display: block;
    width: 48%;
    float: right;
    margin-top: -48%;
}
    #lateral h1 {
        text-align: center;
        padding: 5px 0px 5px 10px;
	    margin: 10px 0px 10px 0px;
        background-color: #000;
        color: #fff;
        font-size: 14pt;
    }
    #lateral li {
        display: block;
        text-align: center;
        margin: 10px 0px 10px 0px;
        font-size: 16pt;
    }
    #lateral iframe {
        margin-top: 10px;
    }

/* FIM QUEM SOMOS */

/* INÍCIO CARTÃO FIDELIDADE */
#cartao-fidelidade {    
    position: relative;
}
#cartao-fidelidade hgroup h5 {
    color: #0026ff;
    margin-bottom: 10px;
    float: left;
    padding-left: 20px;
}
#cartao-fidelidade hgroup h2 {
    color: #000;
    margin-top: 70px;
    margin-right: 280px;
    padding: 5px 0px 5px 10px;
    text-align: center;
}
#cartao-fidelidade p {
    text-align: center;
}
#cartao-fidelidade #album{
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden; 
	list-style: none;
}
	#cartao-fidelidade #album li{
		float: left;
		width: 200px;
		height: 200px;
		margin: 10px;
		border: solid 5px #fff;
		background-color: #fff;
		box-shadow: 1px 1px 1px rgba(0,0,0,.4);
	}
	#cartao-fidelidade #album li span{
		opacity: 0;
		color: #fff;
		background-color: rgba(0,0,0,.3);
		text-shadow: 1px 1px 1px #000;
		font-size: 9pt;
		line-height: 370px;
		padding: 5px;
	}
	#cartao-fidelidade #album li:hover span{
		opacity: 1;
	}
	#cartao-fidelidade #album li:hover{
		transform: scale(1.5);
		transition: all .3s ease-in;
	}
	#cartao-fidelidade #album li#foto1{
		background: url("../_imagens/cartao-marrom.png");
		background-position: 50% 50%;
		background-size: 400px 400px;
		background-color: #fff;
	}
	#cartao-fidelidade #album li#foto1:hover{		
		background-position: 0px 0px;
		background-size: 200px 200px;
	}
	#cartao-fidelidade #album li#foto2{
		background: url("../_imagens/cartao-verde.png");
		background-position: 50% 50%;
		background-size: 400px 400px;
		background-color: #fff;
	}
	#cartao-fidelidade #album li#foto2:hover{		
		background-position: 0px 0px;
		background-size: 200px 200px;
	}
	#cartao-fidelidade #album li#foto3{
		background: url("../_imagens/payment.jpg");
		background-position: 50% 50%;
		background-size: 400px 400px;
		background-color: #fff;
	}
	#cartao-fidelidade #album li#foto3:hover{		
		background-position: 0px 0px;
		background-size: 200px 200px;
	}
	#cartao-fidelidade #album li#foto4{
		background: url("../_imagens/cliente.png");
		background-position: 50% 50%;
		background-size: 400px 400px;
		background-color: #fff;
	}
	#cartao-fidelidade #album li#foto4:hover{		
		background-position: 0px 0px;
		background-size: 200px 200px;
	}
	#cartao-fidelidade #album li#foto5{
		background: url("../_imagens/compras.png");
		background-position: 50% 50%;
		background-size: 400px 400px;
		background-color: #fff;
	}
	#cartao-fidelidade #album li#foto5:hover{		
		background-position: 0px 0px;
		background-size: 200px 200px;
	}
	#cartao-fidelidade #album li#foto6{
		background: url("../_imagens/crescimento.jpg");
		background-position: 50% 50%;
		background-size: 400px 400px;
		background-color: #fff;
	}
	#cartao-fidelidade #album li#foto6:hover{		
		background-position: 0px 0px;
		background-size: 200px 200px;
	}
#cartao-fidelidade #tabela{
	border: 1px solid #909090;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
	#cartao-fidelidade #tabela td{
		border: 1px solid #909090;
		padding: 12px;
		vertical-align: top;
	}
	#cartao-fidelidade #tabela caption{
		font-size: 15pt;
		color: rgb(20,100,220);
		font-weight: bolder;
	}
	#cartao-fidelidade #tabela .ce{
		color: #fff;
		background-color: #606060;
		text-align: right;
		font-weight: bold;
		vertical-align: top;
	}
	#cartao-fidelidade #tabela .cd{
		background-color: #cecece;
	}
	#cartao-fidelidade #tabela caption span{
		display: block;
		float: right;
		color: #000;
		font-size: 8pt;
		margin-top: 10px;
	}

/* FIM CARTÃO FIDELIDADE */

/* INÍCIO ESPECIFICAÇÕES*/
    #corpo-specs {    
    position: relative;
}
#corpo-specs hgroup h5 {
    color: #0026ff;
    margin-bottom: 10px;
    float: left;
    padding-left: 20px;
}
#corpo-specs hgroup h2 {
    color: #000;
    margin-top: 100px;
    margin-right: 280px;
    padding: 5px 0px 5px 10px;
    text-align: center;
}
    #corpo-specs p {
        text-align: center;
    }
#cartao {
    margin-top: 3.2%;
}
/* FIM ESPECIFICAÇÕES */

/* INÍCIO TEXTO CARTÃO */
#texto-spec{
	width: 600px;
	height: 311px;
	border: none;

	-webkit-overflow: hidden;
}
#texto-spec::-webkit-scrollbar{
	display: none;
}
/* FIM TEXTO CARTÃO */
